.buttonDiv {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  justify-content: flex-start;
  position: fixed;
  top: 600px;
  width: 360px;
}

.buttonTitle {
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
}

.carousel {
  display: flex;
  flex-flow: row nowrap;
  overflow: scroll;
  width: 360px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  height: 600px;
  
}

.element {
  height: 155px;
  padding-right: 30px;
  width: 155px;
}

.instructions {
  width: 360px;
}

.footer-btn {
  align-self: center;
  background-color: rgb(72, 243, 72);
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  position: fixed;
  width: 360px;
}

.Principal {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 380px;
}

.SFButtons {
  display: flex;
  justify-content: space-between;
}
