.favoriteButtons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 0;
  width: 360px;
}

.FavoriteSearchBtn {
  background-color: rgb(196, 196, 196);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  padding: 10px;
}

.favoriteFlexySides {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.favoriteCategoryButton {
  background: silver;
  margin: 1%;
  width: 30%;
}

.favoriteContainerPage {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 360px;
}

.favoriteContainerRecipe {
  background: white;
  border-radius: 6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  margin: 20px 0;
  width: 90%;
}

.favoriteButtonImg {
  background: none;
  border: none;
  width: 40%;
}

.favoriteText {
  border-radius: 6px;
  box-sizing: border-box;
  padding: 0 2%;
  width: 60%;
}

.favoriteImg {
  border-radius: 6px;
  width: 100%;
}

.favoriteCategory {
  color: darkgray;
  font-size: 14px;
  margin-top: 10px;
}

.favoriteRecipe {
  color: black;
  font-size: 18px;
  margin: 0;
}
