/* Tela de receitas favoritas

position: relative;
width: 360px;
height: 640px;

background: #FFFFFF;
*/

/* Group 30 

position: absolute;
width: 360px;
height: 58px;
left: 0px;
top: 0px;
*/


/* Rectangle 2 

position: absolute;
width: 360px;
height: 58px;
left: 0px;
top: 0px;

background: #C4C4C4;
*/

/* Receitas Favoritas 

position: absolute;
width: 245px;
height: 35px;
left: 63px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: flex-end;

color: #000000;
*/


/* user 1 

position: absolute;
width: 30px;
height: 30px;
left: 15px;
top: 12px;

background: url(user.png);
*/

/* Group 32 

position: absolute;
width: 333px;
height: 143px;
left: 15px;
top: 143px;
*/


/* Rectangle 6 

position: absolute;
width: 330px;
height: 143px;
left: 15px;
top: 143px;

background: #FFFFFF;
border: 1px solid #F8EDED;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
*/

/* vqpwrv1511723001 4 

position: absolute;
width: 165px;
height: 143px;
left: 15px;
top: 143px;

background: url(vqpwrv1511723001.jpg);
border-radius: 4px 0px 0px 4px;
*/

/* Chelsea Buns 

position: absolute;
width: 162px;
height: 25px;
left: 186px;
top: 165px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 25px;
*/
/* identical to box height 
display: flex;
align-items: flex-end;
letter-spacing: 0.01em;

color: #000000;
*/


/* British - Dessert 

position: absolute;
width: 136px;
height: 18px;
left: 186px;
top: 147px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
*/
/* identical to box height 
display: flex;
align-items: flex-end;

color: #A9A9A9;
*/


/* share (1) 2 

position: absolute;
width: 30px;
height: 30px;
left: 211px;
top: 228px;

background: url(share (1).png);
*/

/* heart (1) 1

position: absolute;
width: 31px;
height: 31px;
left: 277px;
top: 227px;

background: url(heart (1).png);
*/

/* Group 31

position: absolute;
width: 333px;
height: 143px;
left: 15px;
top: 305px;
*/


/* Rectangle 25 

position: absolute;
width: 330px;
height: 143px;
left: 15px;
top: 305px;

background: #FFFFFF;
border: 1px solid #F8EDED;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
*/

/* Bible Belt 

position: absolute;
width: 162px;
height: 25px;
left: 186px;
top: 327px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 25px;
*/
/* identical to box height 
display: flex;
align-items: flex-end;
letter-spacing: 0.01em;

color: #000000;
*/


/* Alcoholic

position: absolute;
width: 136px;
height: 18px;
left: 186px;
top: 309px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;
*/
/* identical to box height 
display: flex;
align-items: flex-end;

color: #A9A9A9;
*/


/* 6bec6v1503563675 1

position: absolute;
width: 165px;
height: 143px;
left: 15px;
top: 305px;

background: url(6bec6v1503563675.jpg);
border-radius: 4px 0px 0px 4px;
*/

/* share (1) 3

position: absolute;
width: 30px;
height: 30px;
left: 211px;
top: 399px;

background: url(share (1).png);
*/

/* heart (1) 2 

position: absolute;
width: 31px;
height: 31px;
left: 277px;
top: 398px;

background: url(heart (1).png);
*/

/* Rectangle 26

position: absolute;
width: 102px;
height: 45px;
left: 129px;
top: 79px;

background: #C4C4C4;
border-radius: 4px;
*/

/* Rectangle 27

position: absolute;
width: 102px;
height: 45px;
left: 241px;
top: 79px;

background: #C4C4C4;
border-radius: 4px;
*/

/* Food

position: absolute;
width: 41px;
height: 21px;
left: 165px;
top: 87px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
*/
/* identical to box height
display: flex;
align-items: flex-end;
letter-spacing: 0.01em;

color: #000000;
*/


/* Rectangle 28

position: absolute;
width: 102px;
height: 45px;
left: 15px;
top: 79px;

background: #C4C4C4;
border-radius: 4px;
*/

/* All

position: absolute;
width: 21px;
height: 21px;
left: 45px;
top: 87px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
*/
/* identical to box height
display: flex;
align-items: flex-end;
letter-spacing: 0.01em;

color: #000000;
*/


/* Drinks

position: absolute;
width: 52px;
height: 21px;
left: 265px;
top: 87px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
*/
/* identical to box height
display: flex;
align-items: flex-end;
letter-spacing: 0.01em;

color: #000000;

*/