.footer-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 360px;
  height: 58px;
  left: 0px;
  top: 582px;
  background: #C4C4C4;
}

.footer-drinks {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 16px;
  top: 591px;
}

.footer-explore {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 160px;
  top: 593px;
}

.footer-fork {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 302px;
  top: 593px;
}